
  <!--Área de puntuación-->
  <div class="row" style="border: solid 1px gray">
    <div class="col-sm-1">    
    <h1><span class="badge bg-secondary"># 1</span></h1>          
    </div>
    <div class="col-sm-1">              
    <img src="assets/imagenes/icono_preguntas.jpg" class="img-thumbnail" width="50%" alt="...">
    </div>     
    <div class="col-sm-6">              
    <h1><span class="badge bg-secondary">35 de 60 O O O O O O O O O O</span></h1> 
    </div>  
    <div class="col-sm-1">              
    <img src="assets/imagenes/icono_preguntas.jpg" class="img-thumbnail" width="50%" alt="...">
    </div>    
    <div class="col-sm-3">    
    <h1><span class="badge bg-secondary">Mensaje Ok</span></h1>          
    </div>                       
</div>

<!--Área de pregunta-->
<div class="row" style="border: solid 1px gray">
    <div class="col-sm-3">    

    <button type="button" class="btn btn-info">pregunta</button>


    </div>
</div>

<!--Área de respuesta-->
<div class="row" style="border: solid 1px gray">
    <div class="col-sm-3">    

    <button type="button" class="btn btn-info">respuesta</button>


    </div>
</div>      